@import "tailwindcss";

@theme {
  --color-primary: #E31837;
  --color-primary-hover: #C6152F;
  --color-secondary: #f8f9fa;
  --color-text-main: #222222;
  --color-text-muted: #666666;
}

@layer base {
  body {
    @apply bg-white text-[var(--color-text-main)] font-sans antialiased;
  }
}
