@import "tailwindcss";

@theme {
  --color-primary: #0056b3;
  --color-primary-hover: #004494;
  --color-secondary: #f8f9fa;
  --color-text-main: #333333;
  --color-text-muted: #666666;
}

@layer base {
  body {
    @apply bg-white text-[var(--color-text-main)] font-sans antialiased;
  }
}
